<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Digit Recognition - SOF106 Group 2(11)</title>
    <script src="{% static 'script/index.js' %}"></script>
    <script src="{% static 'script/painting.js' %}"></script>
    <script src="{% static 'script/ajax_test.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
</head>
<body>

<h1>Welcome to Digit Recognition</h1>
<pre>{{ time }}</pre>

<!--
Canvas -> IMG -> sender() -> waiting handler -> receive results -> print results
results: number with probability
-->
<div id="wrapper">
    <canvas id="paint" width="280" height="280"></canvas>
    <textarea id="test-response-text">null</textarea>
    <button onclick="sender()" type="button">ABC</button>
</div>
</body>
</html>